<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rajatha.a5minquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizTakerLogin" />
        <activity android:name=".QuizTaker" />
        <activity android:name=".QuizMasterLogin" />
        <activity android:name=".QuizTakerRegister" />
        <activity android:name=".QuizMaster" />
        <activity android:name=".AddQuestion" />
        <activity android:name=".QuestionReader" />
        <activity android:name=".QuestionDisplay" />
        <activity android:name=".Quizz" />
        <activity android:name=".UserDetails"></activity>
    </application>

</manifest>